.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #a87c4f;
}

.menu a {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.menu a:hover {
  color: #bdbdbf;
}
